{% extends 'flatpages/default.html' %}
{% block title %} Удалить пост {% endblock title %}
{% load my_custom_filters %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<style>
   table {
    width: auto;
    margin: auto;
   }
   td {
    text-align: center;
   }
</style>
<table>
    <tr>
        <td>
            <b>
                № поста
            </b>
        </td>
        <td>
            <b>
                Заголовок
            </b>
        </td>
        <td>
            <b>
                Автор
            </b>
        </td>
        <td>
            <b>
                Категория
            </b>
        </td>
        <td>
            <b>
                Дата публикации
            </b>
        </td>
        <td>
            <b>
                Текст статьи
            </b>
        </td>
    </tr>

    <tr>
        <td>
            {{ post.id }}
        </td>

        <td>
            {{ post.title|default:"Без заголовка"|truncatewords:4|censor }}
        </td>
        <td>
            {{ post.post_author }}
        </td>
        <td>
            {% for category in post.post_category.all %} {{ category }} {% endfor %}
        </td>
        <td>
            {{ post.date_created|default:"Без даты" }}
        </td>
        <td>
            {{ post.content|truncatechars:20|censor }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>
{% endblock content %}