{% extends 'flatpages/default.html' %}
{% block title %} Детали поста {% endblock title %}
{% load my_custom_filters %}
{% block content %}
  <style>
   table {
    width: auto;
    margin: auto;
   }
   td {
    text-align: center;
   }
  </style>
<table>
    <tr>
        <td>
            <b>
                № поста
            </b>
        </td>
        <td>
            <b>
                Заголовок
            </b>
        </td>
        <td>
            <b>
                Автор
            </b>
        </td>
        <td>
            <b>
                Категория
            </b>
        </td>
        <td>
            <b>
                Дата публикации
            </b>
        </td>
        <td>
            <b>
                Текст статьи
            </b>
        </td>
    </tr>
    <tr>
        <td>
            {{ news.id }}
        </td>
        <td>
            {{ news.title|default:"Без заголовка"|censor }}
        </td>
        <td>
            {{ news.post_author }}
        </td>
        <td>
            {% for category in news.post_category.all %} {{ category }} {% endfor %}
        </td>
        <td>
            {{ news.date_created|default:"Без даты" }}
        </td>
        <td>
            {{ news.content|censor }}
        </td>
    </tr>
</table>
{% endblock content %}
