{% extends 'flatpages/default.html' %}
{% block title %} Новости {% endblock title %}
{% load my_custom_filters %}
{% block content %}

<h1>Новости</h1>
<h6>Всего новостей: {{ newss|length }}</h6>
<hr>
<hr>
{% if newss %}
    <table>
        <tr>
            <td><b>№ поста</b></td>
            <td><b>Заголовок</b></td>
            <td><b>Категория</b></td>
            <td><b>Дата публикации</b></td>
            <td><b>Текст статьи</b></td>
            {% if perms.news.change_post or perms.news.delete_post %}
            <td><b>Действия</b></td>
            {% endif %}
        </tr>
        {% for news in newss %}
        <tr>
            <td>{{ news.id }}</td>
            <td>
                <a href="{% url 'news_details' news.pk %}">{{ news.title|default:"Без заголовка"|censor }}
            </td>
            <td>{{ news.post_category.all|default:"Без категории" }}</td>
            <td>{{ news.date_created|default:"Без даты" }}</td>
            <td>{{ news.content|truncatewords:20|censor }}</td>
            <td>
                {% if perms.news.change_post %}
                <a href="{% url 'news_update' news.pk %}"><u>Редактировать</u></a>
                {% endif %}
                {% if perms.news.delete_post %}
                <a href="{% url 'news_delete' news.pk %}"><u> Удалить </u></a>
                {% endif %}
            </td>
        {% endfor %}
        <tr>
    </table>
{% else %}
<h2>
    Новостей нет!
</h2>
{% endif %}
<br>
{% load my_custom_tags %}
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">Первая</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">Предыдущая</a>
    {% endif %}
  {% endif %}

  Страница {{ page_obj.number }} из {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">Следующая</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Последняя</a>
  {% endif %}

  <p>Статьи {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
{% endif %}
{% endblock content %}